{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
	{% comment %} <div class="jumbotron"> {% endcomment %}
		{% comment %} <h1>Infinity News Aggregator</h1> {% endcomment %}
		{% comment %} <form method="POST" action="{% url 'scrape' %}">
			{% csrf_token %}
			<button type="submit" class="btn btn-success">Get my morning news</button>
		</form> {% endcomment %}
		<form method="post">
    	{% csrf_token %}
   		  <div class="row">
      <div class="col-6">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.email|as_crispy_field }}
      </div>
    	{{ form.job_title|as_crispy_field }}
    	{{ form.bio|as_crispy_field }}
    	<button type="submit" class="btn btn-success">Save person</button>
 		</form>
	{% comment %} </div> {% endcomment %}
	
  {% comment %} <div class="card-columns" style="padding: 10px; margin: 20px;">
	{% for object in object_list %}
	<div class="card" style="width: 18rem;border:5px black solid;"> {% endcomment %}
  {% comment %} <img class="card-img-top" src = "{{ object.image }}"> {% endcomment %}
  {% comment %} <div class="card-body">
    <h5 class="card-title"><div class="card-body">
      <a href="{{object.url}}"><h5 class="card-title">{{object.title}}</h5></a>
    </div></h5>
	</div>
  </div>
  {% endfor %} {% endcomment %}
{% endblock %}
	


